/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

/*Reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    color: white;
}

section {
    width: 100%;
    height: 100vh;
}

/*section welcome*/
#welcome {
    /*background: rgb(21, 18, 74);*/
    background: rgba(16,79,137,1);
    background: -moz-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,79,137,1)), color-stop(100%, rgba(10,9,37,1)));
    background: -webkit-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -o-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: linear-gradient(to bottom, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104f89', endColorstr='#0a0925', GradientType=0 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome__logo {
    /*height: 100px;
    width: 100px;*/
}

/*text*/
.animation-fly-in {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.animation-fly-in li {
    display: inline-flex;
    font-size: 2em;
    margin-right: 0.2em;
    transition: all 2s ease;
}

.animation-fly-in li:last-child {
    margin-right: 0;
}

.animation-fly-in.hidden li {
    opacity: 0;
}

.animation-fly-in.hidden li:nth-child(2n+1) {transform: translateX(-200px) translateY(-100px);}
.animation-fly-in.hidden li:nth-child(3) {transform: translateX(20px) translateY(100px);}
.animation-fly-in.hidden li:nth-child(4) {transform: translateX(-30px) translateY(200px);}
.animation-fly-in.hidden li:nth-child(7) {transform: translateX(-50px) translateY(-200px);}
.animation-fly-in.hidden li:nth-child(8) {transform: translateX(150px) translateY(100px);}
.animation-fly-in.hidden li:nth-child(4n+2) {transform: translateX(10px) translateY(-250px);}
.animation-fly-in.hidden li:nth-child(12) {transform: translateX(-30px) translateY(200px);}
.animation-fly-in.hidden li:nth-child(16) {transform: translateX(50px) translateY(250px);}
.animation-fly-in.hidden li:nth-child(18) {transform: translateX(-30px) translateY(200px);}

/*section gallery*/
#gallery {
    background-image: url("../img/background.png");
}

.container {
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.col-4 {
  width: 33.332%;
  float: left;
  height: 100%;
  padding: 0 5px;
}

.gallery__item {
    min-height: 50em;
    border: 2em solid white;
}
