/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

/*Reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    color: white;
}

section {
    width: 100%;
    height: 100vh;
}

/*section welcome*/
#welcome {
    /*background: rgb(21, 18, 74);*/
    background: rgba(16,79,137,1);
    background: -moz-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,79,137,1)), color-stop(100%, rgba(10,9,37,1)));
    background: -webkit-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -o-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    background: linear-gradient(to bottom, rgba(16,79,137,1) 0%, rgba(10,9,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104f89', endColorstr='#0a0925', GradientType=0 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome__logo {
    height: 100px;
    width: 100px;
}

/*section gallery*/
#gallery {
    background-image: url("../img/background.png");
}
